<div class="container mt-5">
  <h1 class="text-center">Orders</h1>
  <div class="row mt-5">
    {{#each orders}}
    <div class="col-sm-6">
      <div class="card card-body mb-2">
        <h4>Name: {{userName}}</h4>
        <h4>ID: {{managerID}}</h4>
        <p># {{orderNumber}}</p>
        <p>Price: {{orderPrice}} &#8381;</p>
        <p>City: {{orderCity}}</p>
        <div class="container">
          <div class="row justify-content-between" style="max-width: 150px;">
            <a class="btn btn-info" href="/orders/edit/{{id}}">Edit</a>
            <form action="/orders/{{id}}?_method=DELETE" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <p>No orders added</p>
    {{/each}}
  </div>
</div>