<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>{{ local.register }}</h3>
        </div>
        <div class="card-body">
          <form method="POST" action="/user/singup">
            <fieldset class="form-group">
              <label for="id">ID</label>
              <input 
                id="managerID" 
                type="text"
                name="managerID" 
                class="form-control"
                autocomplete="false"
                placeholder="371-12345678" 
                required
              >
            </fieldset>
            <fieldset class="form-group">
              <label for="fullName">{{ local.fullName }}</label>
              <input 
                id="fullName" 
                type="text"
                name="fullName" 
                class="form-control"
                autocomplete="false" 
                placeholder="George Clooney"
                required
              >
            </fieldset>
            <fieldset class="form-group">
              <label for="password">{{ local.password }}</label>
              <input 
                id="password"
                type="password"
                name="password"
                class="form-control"
                autocomplete="false"
                required
              >
              <small class="text-muted form-text">{{ local.passwordInfo }}</small>
            </fieldset>
            <fieldset class="form-group">
              <label for="password2">{{ local.confirmPassword }}</label>
              <input 
                id="password2"
                type ="password"
                name="password2" 
                class ="form-control"
                autocomplete="false"
                required
              >
            </fieldset>
            <button type="submit" class="btn btn-primary">{{ local.submit }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>