<div class="container mt-5">
  <h1 class="text-center">Orders</h1>
  <div class="row mt-5">
      {{#if orders}}
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nr.</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">City</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {{#each orders}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{orderNumber}}</td>
            <td>{{orderDate}}</td>
            <td>{{orderPrice}}</td>
            <td>{{orderCity}}</td>
            <td>
              <a class="btn btn-info" href="/orders/edit/{{id}}" style="display: inline !important;"><i class="fa fa-edit"></i></a>
              <form action="/orders/delete/{{id}}?_method=DELETE" method="POST" style="display: inline !important;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger" style="display: inline !important;"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
        {{/each}}
        </tbody>
        </table>
      {{else}}
      <p>No orders added</p>
      {{/if}}
  </div>
</div>