<div class="container mt-5">
  <h1 class="text-center">{{local.showOrders}}</h1>
  <div class="row mt-5">
      {{#if orders}}
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nr.</th>
            <th scope="col">{{local.order.date}}</th>
            <th scope="col">{{local.order.price}}</th>
            <th scope="col">{{local.order.city}}</th>
            <th scope="col">{{local.order.actions}}</th>
          </tr>
        </thead>
        <tbody>
        {{#each orders}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{orderNumber}}</td>
            <td>{{orderDate}}</td>
            <td>{{orderPrice}}</td>
            <td>{{orderCity}}</td>
            <td>
              <a class="btn btn-info" href="/orders/edit/{{id}}" style="display: inline !important;"><i class="fa fa-edit"></i></a>
              <form action="/orders/delete/{{id}}?_method=DELETE" method="POST" style="display: inline !important;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger" style="display: inline !important;"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
        {{/each}}
        </tbody>
        </table>
      {{else}}
      <p>{{local.noOrders}}</p>
      {{/if}}
  </div>
</div>